@charset "utf-8";
/*
.titulos_listas{
    font-weight: bold;
    color: #060;
    background-color: #9f6;
}

.itens_tabela_banco{
    color: #c30;
    background-color: #fcf;
}

.ordenacao_novo_registro{
    font-weight: bold;
    color: #00f;
    background-color: #39c;
}

.alterar_excluir{
    color: #906;
    background-color: #ccc;
    text-align: center;
}

.alterar_excluir:hover{
    color: #906;
    background-color: #fff;
    text-align: center;
}

.borda_tabela{
    border-collapse: collapse;
    background-color: #999;
}

a:visited{
    text-decoration: none;
    color: #039;
    font-size: 12px;
}

a:link{
    text-decoration: none;
    color: #039;
}

a:link{
    text-decoration: none;
    color: #039;
}

.titulo_sistema{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color : #000066;
}

.mudar_cor:hover{
    background-color: #c30;
}

img.produto{
    width: 200px;
    height: 100px;
}

.mostraProdutos{
    width: 200px;
    height: 200px;
    padding: 20px;
    float: left;
    margin: 10px 5px;
    border: 1px solid #aaa;
}
*/